<style>
    nav{
        background-color: whitesmoke;
        width: 100%;
        max-width: 800px;
        height: 100px;
    }

</style>

<nav>
    <h1><%=titulo%></h1>
    <div>
        <a href="/">Home</a>
        <a href="/todos">Alunos</a>
    </div>
</nav>