<style>
        
    nav{
        background-color: plum;
        color: white;
        font-size: 22px;
        font-weight: 900;
        width: 100%;
        max-width: 800px;
        height: 100px;
    }

</style>


<nav>
    <h2>Logo</h2>
    <div>
        <a href="/">Home</a>
        <a href="/sobre">Sobre nós</a>
    </div>
</nav>