<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include("./style")%>
    <section>
        <h2>Página inicial</h2>
        <a href="user/register">Sign-in</a>
        <a href="user/login">Log-in</a>
    </section>
</body>
</html>