<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page teste</title>

</head>
<body>

    <%- include('./partials/navbar.ejs', {titulo: "Página Principal"}) %>
    <section>
        <% alunos.forEach((aluno)=>{ %> 
            <%  if(aluno.nome[0] === 'J'){ %>
               <h2><%=aluno.nome%></h2> 
                <h3><%=aluno.turma%></h3>
                <%   } %>
        <% }) %>
    </section>
    <%- include ('./partials/footer.ejs') %>

</body>