<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .container-aluno{
            padding: 12px;
            border: 2px solid black;
        }
    </style>
    <style>
        section{
            display: flex;
            gap: 12px;
        }

        .card{
            margin: 12px;
            padding: 12px;
            border: 1.5px solid black;
            text-align: center;
        }
    </style>
</head>
<body>

    <%- include('./templates/nav', {titulo:"Início"}) %>

    <h1>Lista com todos os alunos:</h1>
        <section>
        <% for(let aluno of alunos){ %>

                <div class="card">
                    <h2><%=aluno.nome%></h2> 
                    <h3><%=aluno.turma%></h3> 
                    <button onclick="deleteElemet(this)" id=<%=aluno._id %>>Apagar</button>
                    <a href="/alunos/editar/<%aluno._id%>">editar</a>
                </div>
            
        <%}%>
        </section>
        <script>

            function deleteElemet(element){
    
                let id = element.id;
    
                const options = {
                    method: 'DELETE'
                }
    
                fetch('http://localhost:4000/alunos/' + id, options).then(doc=>{
                 
                    console.log('Item deletado');
               
                })

                window.location.reload();
    
            }
    
    
    
        </script>

</body>
</html>