<style>
    footer{
        background-color: darkblue;
        width: 100%;
        color: white;
        height: 80px;
    }
</style>
<footer>
    <div>
        <p>Endereços</p>
        <a href="#">Siga-nos em nossas redes sociais</a>
    </div>
</footer>