<style>
    nav {
        background-color: darkgreen;
        width: 100%;
        color: white;
        height: 80px;
    }
    
</style>

<nav>
    <h3><%=titulo%></h3>
    <div>
        <a href="/">Home</a>
        <a href="/about">Sobre</a>
    </div>
</nav>
