.Alert{
    position: fixed;
    display: flex;
    align-items: center;
    width: 60%;
    left: 50%;
    transform: translate(-40%,0%);
    opacity: .7;
}

.time-bar{
    width: 100%;
    height: 8px;
    border-radius: 4px;
    animation: transformScale 2s linear;
}

@keyframes transformScale {
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}