input{

}

.btn-submit{
    width: 100%;
    text-align: center;
    background-color: aquamarine;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.btn-submit button{
    width: 100%;
    background-color: blueviolet;
    
}