<style>
    nav{
        width: 300px;
        background-color: darkblue;
        color: aliceblue;
    }
</style>

<nav>

    <h3>Icon</h3>
    <div>
        <h3>Seja bem-vindo a página</h3>
    </div>

</nav>