@tailwind base;
@tailwind components;
@tailwind utilities;


.context-menu {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.fullscreen:-webkit-full-screen {
    height: 100%;
    margin: 0;
}

.fullscreen:-ms-fullscreen {
    height: 100%;
}

.fullscreen:fullscreen {
    height: 100%;
}
.map .ol-rotate {
    top: 3em;
}

.map {
    width: 80%;
    height: 100%;
    float: left;
}

#settings{
    border-left: none;
}   

#settings:hover {
    background-color: 'red';
}

.btn_control{
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 4px;
    color: rgb(31, 41, 55);
    font-size: 18px;
    font-weight: 600;
}

.btn_control button{
    border: 1.6px solid rgb(241, 245, 249);
    background-color:rgb(241, 245, 249);
    width: 30px;
    height: 30px;
    border-radius: 4px;
}