.Layout-main{
  min-height: 100vh;
}
.Sider-div-title{
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
  color: aliceblue;
  text-shadow: .2px .2px .2px aliceblue;
}

.Layout-Header{
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: black;
  text-shadow: .2px .2px .2px black;
  padding: 0;
}
.Layout-Content{
  font-size: 32px;
}
.Layout-Content-Breadcrumb{
  margin: 16px 0px;
}

.Layout-Footer{
  text-align: center;
}
